:root {
}

.player-unit-hp-slider {
    margin-right: 10px;
}

.player-unit-hp-slider Label {
    color: rgb(255, 255, 255);
    padding-left: 6px;
    font-size: 20px;
}

.player-unit-hp-slider #unity-dragger {
    display: none;
}

.player-unit-hp-slider #unity-tracker {
    height: 10px;
}

.player-unit-hp-slider #unity-fill {
    background-color: rgb(34, 185, 34);
}

.player-unit-mp-slider {
    margin-right: 10px;
}

.player-unit-mp-slider Label {
    padding-left: 6px;
    color: rgb(253, 253, 253);
    font-size: 20px;
}

.player-unit-mp-slider #unity-dragger {
    display: none;
}

.player-unit-mp-slider #unity-tracker {
    height: 10px;
}

.player-unit-mp-slider #unity-fill {
    background-color: rgb(26, 137, 191);
}

.player-unit-battle-info {
    flex-grow: 1;
    position: relative;
    background-color: rgba(0, 0, 0, 0.54);
    -unity-background-scale-mode: scale-to-fit;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    margin-left: 5px;
}
